@model senai_mvc_sql.Dominio.Aluno 

@{   
    ViewData["Title"] = "Excluir";   
}   
<h2>Excluir</h2>   
<h3>Deseja realmente excluir o Aluno?</h3>   
<div>   
    <h4>Aluno</h4>   
    <hr />   
    <dl class="dl-horizontal">   
        <dt>   
            @Html.DisplayNameFor(model => model.Nome)   
        </dt>   
        <dd>   
            @Html.DisplayFor(model => model.Nome)   
        </dd>   
        <dt>   
            @Html.DisplayNameFor(model => model.Email)   
        </dt>   
        <dd>   
            @Html.DisplayFor(model => model.Email)   
        </dd>   
        <dt>   
            @Html.DisplayNameFor(model => model.Sexo)   
        </dt>   
        <dd>   
            @Html.DisplayFor(model => model.Sexo)   
        </dd>   
        <dt>   
            @Html.DisplayNameFor(model => model.Idade)   
        </dt>   
        <dd>   
            @Html.DisplayFor(model => model.Idade)   
        </dd>   
    </dl>   
   
    <form asp-action="Excluir">   
        <input type="hidden" asp-for="Id" />   
        <input type="submit" value="Excluir" class="btn btn-default" /> |   
        <a asp-action="Index">Voltar</a>   
    </form>   
</div>  